h1 {
    color: darkblue;
    text-align: center;
    margin-bottom: 20px;
}

h2, h3 {
    color: #444;
    margin-top: 30px;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

/* Text and Lists */
p, ul {
    font-size: 16px;
    line-height: 1.5;
}
img {
    display: block;
    margin: 20px auto;
} 
